<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>


        <main>
            <div>
                <a href="/todos/new"><button> Add ToDo</button></a>
                
                
            </div>
        </main>
    </body>
</html>