<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>


        <h1>Create New To do</h1>
        <form action="/todos" method="post"> 
            <input type="name" name="name" placeholder="new plan">
            <input type="name" name="time" placeholder="time">
            <input type="checkbox" name="Complete">
            <input type="submit" value="My New Plan">

        </form>