<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>


        <main>
            <div>
              <form action="/todos" method="POST">
                <fieldset>
                    <legend>Add New Plan</legend>

                    <label>
                        NAME: <input type="text" name="name" placeholder= "day plan" />
                    </label>
                    <label>
                        TIME: <input type="text" name="name" placeholder="Time">
                    </label>
                         
                    <label>
                        COMPLETE: <input type="checkbox" name="complete" />
                    </label>    
                </fieldset>
                
                <input type="submit" value="Add New plan" />
              </form>        

            </div>
        </main>
    </body>
</html>